* {
    margin: 0;
    padding: 0;
}

.title{
    font-family: "Segoe Script", sans-serif;
    font-size: 50px;
    /*text-transform: uppercase;*/
}

h2 {
    /*#goal {*/
    background-color: #8E8E8E;
    margin: 20px 250px;
    font-family: "Segoe UI", sans-serif;
    font-size: 35px;
    border-radius: 20px;

    /*border: #f700ff 5px solid ;*/

/*    max-width: 80%;*/

/*}*/
}


body {
    background-color: #A2C2C9;
    line-height: 1.8;
    margin: 20px;


}

.box-model {
    text-align: center;
    max-width: 90%;
    margin: auto;
    padding: 200px 30px;

    border-radius: 20px;
    /*border:red 5px solid ;*/
}



.content {
    /*border:black 5px solid ;*/
    display: flex;
    flex-direction: row-reverse;
    font-family: "Segoe UI", sans-serif;
    margin: 20px 250px;
    align-items: center;


    border-radius: 20px;
}

.item {
    /*border:blue 5px solid ;*/
    border-radius: 20px;
    margin: 10px;
}

.text-box {
    background-color: #D9D9D9;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    margin: 80px 30px;
}

.item:nth-child(1) {
    /*background: #D9D9D9;*/
    background-image: url("pics/training types collage.png");
    flex-basis: 50%;
    height: 350px;
}

/*img {*/

/*}*/


.item:nth-child(2){
    flex-basis: 40%;
}

h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.form .form-fields {
    padding-bottom: 20px;
}

.form-fields{
    display: block;
}

.form-fields label {
    /*border: brown 4px solid;*/
    margin: 10px;
}

.form-fields input {
    padding: 5px;
    width: 50%;
    border-radius: 20px;
    background-color: #8E8E8E;
}

.form .btn {
    background-color: #D9D9D9;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 5px;
    border: #8E8E8E 3px solid;
    border-radius: 20px;
    margin: 0 150px 10px 150px;
}

.form .action-buttons {
    /*border: coral 5px solid;*/
    display: flex;
    flex-direction: column;
}

.form .register-btn {
    color: darkblue;
}

.form a:hover {
    color: #8E8E8E;
}


/*.item:nth-child(1){*/
/*    background-color: #8E8E8E;*/
/*    margin: 10px;*/
/*    font-size: 35px;*/
/*    !*flex-basis: 200px;*!*/
/*}*/

/*.item:nth-child(2){*/
/*    background-color: #D9D9D9;*/
/*    font-size: 25px;*/
/*    margin: 20px 40px 20px 600px;*/
/*    padding: 30px;*/
/*}*/

/*aside {*/
/*    !*border: black 2px solid;*!*/
/*    width: 600px;*/
/*    height: 300px;*/
/*    text-align: center;*/

/*}*/

/*#information {*/
/*    background-color: #D9D9D9;*/
/*    font-size: 25px;*/
/*    margin-top: 20px;*/
/*    margin-right: 300px;*/
/*    padding: 40px;*/
/*    !*max-width: 70%;*!*/
/*    float: right;*/

/*}*/




/*a:visited{*/
/*    color: cadetblue;*/
/*}*/